.row
%br
.row
	.large-4.columns
		%ul{class:"pricing-table"}
			%li{class:"title"}
				=show_name(@user.id)
			%li{class:"description"}
				-if @user.admin == "teacher"
					Teacher at the Iron Yard
				-else
					Student at the Iron Yard
			%li
				%table 
					%caption 
						Cohorts
						=link_to "(add)" , new_enrollment_path
					%th Course
					%th Location
					%th Start Date
					-@user.cohorts.each do |c|
						%tr
							%td 
								=link_to "#{c.course.title}" , cohort_path(c.id)
							%td
								=c.location.name
							%td
								=c.start_date
				

	.large-8.columns
		%h3 All Assignments
		%dl.accordion{"data-accordion" => ""}
			-@user.cohorts.each do |c|
				%dd
					%a{href: "#panel#{c.id}"} 
						=c.course.title
					.div{id:"panel#{c.id}", class:"content"}
						-if current_user.admin == "teacher"
							=link_to "add new assignment", new_assignment_path, class: "button tiny"
							%br
						-c.assignments.each do |a|
							=link_to "#{a.description}", assignment_path(a.id)
							%br
							%br

.row
	.small-11.small-centered-columns
		%table
			%th Title
			%th Status
			%th Assignment
			%th View/Edit
			-@user.homeworks.each do |h|
				%tr
					%td 
						=h.title
					%td
						=h.status
					%td 
						- if h.assignment
							=h.assignment.name
			
					%td
						=link_to "view",homework_path(h.id.to_i)
						/
						=link_to "edit", edit_homework_path(h.id.to_i)






