=form_for @homework, url: homework_path do |f|
	Title
	%br
	=f.text_field :title
	%br
	Github Link:
	%br
	=f.text_field :github_link
	%br
	Heroku Link:
	%br
	=f.text_field :heroku_link
	%br
	Notes:
	%br
	=f.text_area :notes
	%br
	=f.submit "submit!"
