
%br
.row
	.small-11.small-centered-columns
		%ul{class:"pricing-table"}
			%li{class:"title"}
				=@homework.title
			%li{class:"bullet-item"}
				github link:
			%li{class:"description"}
				%a{href: "http://#{@homework.github_link}"}
					=@homework.github_link
			%li{class:"bullet-item"}
				heroku link:
			%li{class:"description"}
				%a{href: "http://#{@homework.heroku_link}"}
					=@homework.heroku_link
			%li{class:"bullet-item"}
				notes
			%li{class:"description"}
				=@homework.notes
			%li{class:"price"}

				-if current_user.role == "teacher"
					=form_for @homework, url: homework_path do |f|
						=f.select :status, options_for_select([["complete", "complete"] , ["incomplete", "incomplete"]])
						=f.submit :class => "button tiny"
				-else
					=@homework.status
			%li{class:"cta-button"}
				=link_to "edit", edit_homework_path(@homework.id), class:"button"

.row
	.small-11.small-centered-columns
		%h6 Comments
		%hr
		-@homework.comments.each do |f|
			
			-if f.user
				-if f.user.role == "teacher"
					.div{class:"success label"}
						=f.user.first_name 
				-else
					.div{class:"label"}
						=f.user.first_name
				says:
				%br
			=f.description
			%hr
		%h6 Add a comment:
		= form_for @new_comment, url: comments_path, method: :post do |f|
			=hidden_field_tag :receiver, value: @homework.user.email
			=f.hidden_field :commentable_id, value: @new_comment.commentable_id 
			=f.hidden_field :commentable_type, value: @new_comment.commentable_type
			=f.hidden_field :user_id, :value => current_user.id
			comment:
			%br
			= f.text_area :description
			=f.submit "submit", class: "button"








